#####################################################################
#####################################################################
#  Probe and Positions
#####################################################################
#####################################################################


#####################################################################
#   Bed Mesh
#####################################################################

[bed_mesh]
zero_reference_position: 90, 90 # The centre of your bed. 
speed: 333
horizontal_move_z: 5
mesh_min: 15, 30 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 165, 165 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
probe_count: 40, 40
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
gcode:
    {% set TARGET_TEMP = printer.heater_bed.target %}
    M140 S0
    _BED_MESH_CALIBRATE {rawparams}
    M140 S{TARGET_TEMP}

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################



[safe_z_home]
home_xy_position:90,90
z_hop:10
z_hop_speed:30
home_y_before_x: False

####################################################################
## Z TILT CONFIGURATION
####################################################################

[z_tilt]
z_positions:

     -50, -13
      90, 217
      213, -13


points:

     15, 10
     90, 135
     165, 10


speed: 250
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
retries: 15
#   Number of times to retry if the probed points aren't within
#   tolerance.
retry_tolerance: 0.0075
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

[gcode_macro HOME_XY_IF_NEEDED]
gcode:
    {% if "xy" not in printer.toolhead.homed_axes %}
        G28 X Y                ; Home XY axes
    {% endif %}
    
[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}


#####################################################################
#  Parking Macros
#####################################################################

[gcode_macro Center_Front]
gcode:
    _CG28                            ; home if not already homed
    SAVE_GCODE_STATE NAME=Center_Front
    G90                              ; absolute positioning
    G0 X90 Y30 Z70 F3600  
    RESTORE_GCODE_STATE NAME=Center_Front


[gcode_macro Front_without_Z]
gcode:
    HOME_XY_IF_NEEDED
    SAVE_GCODE_STATE NAME=Front_without_Z
    G90                                ; absolute positioning
    G0 X90 Y0 F3600                                    
    RESTORE_GCODE_STATE NAME=Front_without_Z


#####################################################################
#  Park and Purge Nozzle
#####################################################################

[gcode_macro nozzle_Park]
gcode:
    HOME_XY_IF_NEEDED
    SAVE_GCODE_STATE NAME=nozzle_Park
    G90                                ; absolute positioning
    G0 X0 Y179 F20000                                
    RESTORE_GCODE_STATE NAME=nozzle_Park

[gcode_macro Purge_Area]
gcode:
    HOME_XY_IF_NEEDED
    SAVE_GCODE_STATE NAME=Purge_Area
    G90                                ; absolute positioning
    G0 X60 Y-21 F20000                                   
    RESTORE_GCODE_STATE NAME=Purge_Area
